body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: black;
}

nav {
    border-radius: 1em;
    width: calc(100vw - 2em);
    margin: 0 auto;
}

nav ul > li.corner-btn {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    margin-top: 1em;
}

.fullscreen {
    flex: 1 0 auto;
}

.card.rounded {
    border-radius: 1.25em;
}

.my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

/*****NumberPad*****/
.number-pad input[type="text"],
.number-pad input[type="password"] {
    font-size: 6em;
    height: 6em;
}

.number-pad .numbers {
    display: flex;
    flex-flow: row wrap;
}

.number-pad .numbers button,
.number-pad .numbers input {
    flex: 1 0 30%;
    min-height: calc(100vh / 11);
    font-size: 2.5em;
    margin: .25em;
}